[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "config/tmux/plugins/tmux-yank"]
	path = config/tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/IxDay/oh-my-zsh
