#!/bin/fish

{{ if eq .chezmoi.osRelease.name "Arch Linux" -}}

# enable multilib
if ! grep -q "^\[multilib\]" /etc/pacman.conf
	sudo sed -i '/\[multilib]/{s/^#//;n;s/^#//}' /etc/pacman.conf
	yay -Syu --noconfirm
end

yay -S --needed --noconfirm {{ join " " .packages.arch }}
{{ end -}}

# asdf installation and setup
{{ range $pkg, $versions := .packages.asdf -}}
asdf plugin-add {{$pkg}}
{{ range $versions -}}
asdf install {{$pkg}} {{.}}
{{ end -}}
{{ end -}}

asdf direnv setup --shell fish --version latest
asdf global direnv 2.34.0

# fisher setup
fisher install  {{ join " " .packages.fish }}
