[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/local/bin/janus --no-timestamp --debug

[Install]
WantedBy=default.target
